<h1>A propos de cette application</h1>
<section>
    <article [@bounce]="bounce" (@bounce.done)="logAnimation($event)">
        <h2>Auteur</h2>
        <p>Votre serviteur est communicant et développeur. Il pratique Angular depuis plus de 4 ans (ce qui est tout de même assez long dans l'industrie ;) )</p>
    </article>
    <article>
        <h2>Objectifs</h2>
        <p>Le présent tutoriel est un support pour l'apprentissage d'Angular. Ce framework offre une palette d'outils pour le développement logiciel. C'est l'orientation que nous prendrons pour vous le présenter.</p>
    </article>
</section>